<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/websites">Home</a>
      <form action="/tags" method="POST" autocomplete="off">
        <select id="tags" name="dropdown_tag">
          <% @tags.each do |tag| %>
          <option  value="<%= tag.id %>"><%= tag.content %></option>
          <% end %>
        </select>
        <input id="tags" type="submit" value="submit" class="submitButton">
      </form>
    </div>
    <p><%= @website.content %></p>
    <p><%= @website.tag.content %></p>
    <form action="/websites/<%= @website.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Website">
    </form>
    <a href="/websites/<%= @website.id %>/edit">Edit Website</a>
    <br><br>
    <a href="/websites">Home</a>
    <br>
    <a href="/logout">Logout</a>

  </body>
</html>
