<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/websites">Home</a>
      <form action="/tags" method="POST" autocomplete="off">
        <select id="tags" name="dropdown">
          <% @tag_instances.each do |tag| %>
          <option  value="<%= tag.id %>"><%= tag.content %></option>
          <% end %>
        </select>
        <input id="tags" type="submit" value="submit" class="submitButton">
      </form>
    </div>
    <h1><u>All Websites with the Tag of: <i><%= @tag.last.content %></i></u></h1>
    <% @tags[0].websites.each do |website| %>
      <ul>
        <li><a href="<%= website.content %>" type="button" class="button"><%= website.content %></a></li>
      </ul>
    <% end %>
  </body>
</html>
